#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.magicEight {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

.goldenrod {
  background-color: goldenrod;
}

.red {
  background-color: red;
}
