{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h2>Welcome!</h2>
<p>Please select from the option below!</p>
<form action="/board-select">
	<div class="radio">
		<input type="radio" name="game-type" value="standard" checked /><label
			for="game-type"
			>Standard 5x5</label
		>
	</div>
	<div class="custom-game radio">
		<input type="radio" name="game-type" value="custom" /><label
			for="game-type"
			>Custom size</label
		>
		<input type="number" name="board-size" value="5" min="5" max="10" />
	</div>
	<button>{{'> > >'}}</button>
</form>
{% endblock %}
