<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='styles/style.css') }}"
		/>
	</head>
	<body>
		<nav class="nav-bar">
			<img
				class="nav-item"
				src="{{url_for('static', filename='img/orangutan_logo.png')}}"
			/>
			<span class="nav-item"> Survey Orangutan </span>
			<a href="/" class="nav-link nav-item">Home</a>
		</nav>
		<div class="container">
			{% with messages = get_flashed_messages() %} {% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li>{{message}}</li>
				{% endfor %}
			</ul>
			{% endif %} {% endwith %}
			<h3>{% block page_name %}{% endblock %}</h3>
			<div class="content-block">{% block content %}{% endblock %}</div>
		</div>
		<footer></footer>
	</body>
</html>
