{% extends "base.html" %} {% block title %} Question {% endblock %} {%
block page_name %}
<h1>{{survey.title}}</h1>
<h3>{{survey.instructions}}</h3>
{% endblock %} {% block content %}
<form class="question-form" action="/question/{{q_id}}">
	<p>{{question.question}}</p>
	{% for answer in question.choices %}
	<div class="question-container">
		<input type="radio" name="answer" value="{{answer}}" />
		<label for="{{answer}}">{{answer}}</label>
	</div>
	<br>
	{% endfor %} {% if question.allow_text %}
	<input type="text" class="text-input" name="text-portion"/>
	{% endif %}
	<button class="button">{{'> > >'}}</button>
</form>
{% endblock %}
