.navbar a:hover {
	text-decoration: underline;
}

.card-img-top {
	width: 100%;
	height: 20vh;
	object-fit: cover;
}

.img-thumbnail {
	width: 300px;
	object-fit: cover;
}

.spacing a {
	margin: 5px;
}
